*{
  padding: 0;
  margin: 0;
  box-sizing: borderbox;
}
body{
  width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
}

/*nav*/
nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFCE4;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 70%;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0;
  
}
nav ul li a{
  text-decoration: none;
  color: maroon;
}

#button a{
  border: 1px solid transparent;
  background: #ff6600;
  color: White;
  padding: 5px 10px;
  font-weight: bold;
}
h1{
  font-family: Cursive;
  color: maroon;
  font-size: 20px;
}

/*Main body*/
section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  font-family: Sans-Serif, Arial;
}
.text{
  padding: 3rem;
  color: maroon;
}
h6{
  padding: 5px 0px;
  margin: 5px 0px;
  font-size: 5px;
}
#first{
  padding: 5px 0px;
  font-size: 15px;
  margin:5px 0px;
  margin-bottom:0;
  
}
#second{
  padding: 0;
  font-size: 25px;
  margin: 0;
  margin-bottom: 30px;
}
section div p{
  font-size: 10px;
  margin: 10px 0px;
  
}
section div a{
  text-decoration: none;
  font-size: 70%;
  font-weight: bold;
}
#yellow{
  border: 1px solid transparent;
  background: #ff6600;
  color: White;
  padding: 5px 10px;
}
#orange{
  border: 1px solid transparent;
  background: #ff6600;
  color: White;
  padding: 5px 6px;
}
.part2{
  background-color: powderblue;
}

.part2{
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  color: maroon;
  padding: 5px 32px ;
  
}
.part2 div{
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}
h3{
  display: flex;
  flex-direction: column;
}
h3{
  width: 100%;
  text-align: center;
  color: maroon;
  padding: 0px 32px;
  background-color: red;
}
p{
  text-align: left;
}
.imgtextthree, .imgtexttwo, .imgtextone{
  gap: 5px;
}
